@media screen and (min-width: 760px) {
    /*Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  /* Navbar */
  header {
    background: #787878;
    min-height: 10vh;
  }
  
  .navbar {
    display: flex;
    background-color: rgb(44, 42, 42);
    justify-content: flex-end;
    align-items: center;
    /*min-height: 10vh;*/
  }

  .nav-container {
    background-color: rgb(44, 42, 42);
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .logo {
    flex: 2;
    background-color: rgb(44, 42, 42);
  }
  
  .logo h1 {
    max-width: 25rem;
    min-width: 1rem;
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    font-size: 2rem;
    color: white;
    background-color: black;
    border-radius: 20px;
    text-align: center;
    margin: 10px;
    padding: 1rem 0rem;
  }
  
  .research {
    display: none;
  }
  
  #menu {
    display: flex;
    justify-content: space-around;
    background-color: rgb(44, 42, 42);
  }
  .dropdown-menu-content {
    display: flex;
    margin: 2rem;
    background-color: rgb(44, 42, 42);
    list-style: none;
    color: white;
    text-align: right;
  }

  li a {
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    margin: 1rem;
  }
  
  .nav-toggle {
    display: none;
  }
  
  .visible {
    display: block;
  }
  
}

/*CSS A_propos lg*/

.team {
  padding-top: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
    color : white;
     
}
 
.main-container-team{
  margin : auto;
  background-color: #787878;
}

.container-members{
  padding-left: 20px;
  padding-right: 20px;
 
  justify-content: space-between;
}
 
.member-photo{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0 20px 0;  
}

.flag-icon{
  border-radius: 50px;
}
 
.member-description{
  display: flex;
  flex-direction: column;
  border-radius: 0px 40px 40px 0px;
  background-color: #a8a8a8;
  height: 20px;
  width: 100%;
  padding-top: 5px;
}
 
.contact{
  display: flex;
  background-color: grey;
  justify-content: center;
}

.contact-main{
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
 
.contact-us{
  border-bottom: solid 1px white;
  margin: auto;
  margin-bottom: 5px;
  
  color: white;
}


.mail-message  {
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px 0px 10px 5px ;
  background-color: #a8a8a8;
  color: whitesmoke;
}
   
.message-contact::placeholder{
  color: whitesmoke;
}

.message-contact{
  margin-top: 5px;
}

.send {
  text-align: end;
  margin-right: 60px;
}

#contactForm{
  padding-bottom: 10px;
}
