@media screen and (min-width: 760px) {
  /*Global styles */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
  }

  /* Navbar */
  header {
    background-color: #4d4a4a;
    min-height: 10vh;
    min-width: 100vw;
  }

  .navbar {
    display: flex;
    background-color: #4d4a4a;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1rem;
    min-height: 10vh;
  }

  .logo {
    flex: 1;
    background-color: #4d4a4a;
  }

  .logo-title {
    max-width: 20rem;
    min-width: 1rem;
    font-family: "Rubik", sans-serif;
    font-weight: normal;
    font-size: 2rem;
    color: white;
    background: linear-gradient(90deg, #c739ff, #8539ff);
    border-radius: 20px;
    text-align: center;
    margin: 10px;
    padding: 1rem 0rem;
  }

  .nav-container {
    background-color: #4d4a4a;
    flex: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .research {
    display: none;
  }

  .search-container {
    display: flex;
    justify-content: flex-end;
  }

  .search-container input {
    width: 80%;
    border: none;
    background-color: rgba(120, 120, 120, 0.5);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
  }
  #search-form {
    position: relative;
  }
  .searchButton {
    position: relative;
    right: 2.7rem;
    width: auto;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: none;
    background-color: rgba(120, 120, 120, 0);
    color: white;
  }

  .search-container input::placeholder {
    font-family: "Rubik", sans-serif;
    font-size: 1.5rem;
  }
  .dropdown-menu-content {
    display: flex;
    justify-content: flex-end;
    background-color: #4d4a4a;
    text-align: right;
    list-style: none;
  }
  .dropdown-menu-content li {
    margin-right: 1.5rem;
    text-align: left;
  }

  .dropdown-menu-content li a {
    font-weight: normal;
    font-family: "Rubik", sans-serif;
    font-size: 1.6rem;
    text-decoration: none;
    color: white;
  }
  .dropdown-menu-content li a:hover {
    transition: all 1s ease-out;
    color: #c739ff;
    font-size: 1.65rem;
  }

  .nav-toggle {
    display: none;
  }

  .visible {
    display: block;
  }

  /*Main Container Styles */

  .heart.like {
    color: #c739ff;
  }
  .main-container {
    background: radial-gradient(#787878, #555454);
    color: white;
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 80vh;
    overflow: hidden;
  }
  /* Title page myfavourites*/
  .list-my-favourites {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 1.6rem;
    margin: 2rem 2rem;
  }

  .list-my-favourites li {
    border-bottom: 0.3rem solid white;
  }

  .menu-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 2rem 0rem;
  }
  .list li {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .list li:nth-child(1) {
    border-bottom: 0.3rem solid white;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .list li:nth-child(2) {
    padding-left: 1rem;
  }

  .article-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 2rem;

    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;*/
  }

  .article {
    display: flex;
    min-width: 40vw;
    min-height: 20vw;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    /*display: flex;
    align-items: center;
    justify-content: center;
    min-width: 90vw;
    min-height: 25vh;
    margin: 1rem 2rem;
    position: relative;*/
  }

  .link-page {
    text-decoration: none;
    color: white;
  }

  .image-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    width: 25vw;
    height: 35vh;
    border-radius: 2rem;
    background: #8c8b8b;
    position: relative;
  }

  .favorite-logo {
    position: absolute;
    z-index: 1;
    top: 2rem;
    right: 3rem;
    color: rgba(255, 255, 255, 0.712);
    font-size: 2rem;
    cursor: pointer;
  }

  .favorite-logo:hover {
    color: #c739ff;
  }

  .favorite-logo.like {
    color: #c739ff;
  }

  .house-image {
    background-image: url("./images/house-image.jpg");
    background-size: cover;
    background-position: top;
    cursor: pointer;
  }

  .got-image {
    background-image: url("./images/got-image.jpg");
    background-size: cover;
    background-position: top;
    cursor: pointer;
  }

  .narcos-image {
    background-image: url("./images/narcos-image.jpg");
    background-size: cover;
    background-position: top;
    cursor: pointer;
  }

  .lucifer-image {
    background-image: url("./images/lucifer-image.jpg");
    background-size: cover;
    background-position: top;
    cursor: pointer;
  }

  .link-page.active {
    pointer-events: none;
    display: none;
  }

  .image-description {
    background: rgba(199, 57, 255, 0.5);
    min-width: 10rem;
    min-height: 3rem;
    border-radius: 2rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-description p {
    font-size: 2.5rem;
    margin: 0rem 0.5rem;
  }
  .text-container {
    background: #a8a8a8;
    height: 25rem;
    width: 30rem;
    border-radius: 0rem 2rem 2rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /*background: #a8a8a8;
    min-width: 40vw;
    min-height: 15rem;
    border-radius: 0rem 2rem 2rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; */
  }
  .text-container p {
    width: 90%;
    font-size: 1.6rem;
  }

  .stars-container i {
    color: #787878;
  }

  .star-check::before {
    color: rgba(255, 215, 0.6);
  }

  /*Footer */

  footer {
    background: radial-gradient(#787878, #555454);
    font-family: "Rubik", sans-serif;
    min-width: 100vw;
    min-height: 10vh;
  }

  .footer-container {
    min-height: 10vh;
    background: #4d4a4a;
    display: flex;
    justify-content: space-between;
  }

  .lg-notices {
    margin-left: 1.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lg-notices h2 {
    margin: 0 0.5rem;
    font-size: 1.5rem;
    font-weight: normal;
    font-family: "Rubik", sans-serif;
  }

  .lg-notices h2 a {
    text-decoration: none;
    color: white;
  }

  .newsletter-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    color: white;
  }

  .box-newsletter {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .newsletter-lg {
    font-weight: normal;
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }
  .newsletter-sm {
    display: none;
  }

  #input-newsletter {
    background-color: rgba(120, 120, 120, 0.5);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-family: "Rubik", sans-serif;
    border-radius: 0.5rem;
    width: 90%;
  }

  .box-newsletter button {
    position: relative;
    width: auto;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: none;
    background-color: rgba(185, 185, 185, 0.5);
    color: white;
    right: 2.7rem;
  }
  .social-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1.5rem;
    margin-left: 6%;
  }
  .social-title {
    color: white;
    font-family: "Rubik", sans-serif;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: normal;
    font-size: 1.5rem;
  }

  .social-container i {
    /* color: #787878; */
    color: #c739ff;
    font-size: 2.5rem;
    margin: 0 1rem;
  }

  /*Page 2 */

  .main-container-2 {
    min-height: 80vh;
    background: radial-gradient(#787878, #555454);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .button-return {
    display: none;
  }

  .image-container-house {
    min-height: 65rem;
    min-width: 40vw;
    border-radius: 2rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url("./images/house-image.jpg");
    background-size: cover;
    background-position: top;
    position: relative;
  }

  .favorite-logo-page2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 2rem;
    right: 3rem;
    color: rgba(255, 255, 255, 0.712);
    font-size: 2rem;
  }

  .favorite-logo-page2 i {
    margin-bottom: 1rem;
  }

  .title-house {
    display: none;
  }

  .description-container-house {
    min-height: 60rem;
    min-width: 40vw;
    background: #a8a8a8;
    border-radius: 0rem 2rem 2rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
  }

  .text-container-house {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25vw;
    height: 15rem;
    font-size: 2rem;
    color: white;
  }

  .container-community {
    width: 25vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .button-watch-house {
    padding: 2rem 5rem;
    border-radius: 2rem;
    border: none;
    color: white;
    background: #4d4a4a;
    cursor: pointer;
  }

  .stars-container-page2 {
    margin: 5rem 0rem 0rem 5rem;
    flex-wrap: nowrap;
  }

  .stars-container-page2 i {
    color: #787878;
  }

  .star-check::before {
    color: rgba(255, 215, 0.6);
  }

  /*Page 3 */

  .main-container-3 {
    min-height: 80vh;
    background: radial-gradient(#787878, #555454);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .button-return {
    display: none;
  }

  .image-container-got {
    min-height: 65rem;
    min-width: 40vw;
    border-radius: 2rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url("./images/got-image.jpg");
    background-size: cover;
    background-position: top;
    position: relative;
  }

  .favorite-logo-page3 {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 2rem;
    right: 3rem;
    color: rgba(255, 255, 255, 0.712);
    font-size: 2rem;
  }

  .favorite-logo-page3 i {
    margin-bottom: 1rem;
  }

  .title-got {
    display: none;
  }

  .description-container-got {
    min-height: 60rem;
    min-width: 40vw;
    background: #a8a8a8;
    border-radius: 0rem 2rem 2rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
  }

  .text-container-got {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25vw;
    height: 15rem;
    font-size: 2rem;
    color: white;
  }

  .container-community-got {
    width: 25vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .button-watch-got {
    padding: 2rem 5rem;
    border-radius: 2rem;
    border: none;
    color: white;
    background: #4d4a4a;
    cursor: pointer;
  }

  .stars-container-page3 {
    margin: 5rem 0rem 0rem 5rem;
    flex-wrap: nowrap;
  }

  .stars-container-page3 i {
    color: #787878;
  }

  .star-check::before {
    color: rgba(255, 215, 0.6);
  }

  /*Page 4 */
  .main-container-4 {
    min-height: 80vh;
    background: radial-gradient(#787878, #555454);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .button-return {
    display: none;
  }

  .image-container-narcos {
    min-height: 65rem;
    min-width: 40vw;
    border-radius: 2rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url("./images/narcos-image.jpg");
    background-size: cover;
    background-position: top;
    position: relative;
  }

  .favorite-logo-page4 {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 2rem;
    right: 3rem;
    color: rgba(255, 255, 255, 0.712);
    font-size: 2rem;
  }

  .favorite-logo-page4 i {
    margin-bottom: 1rem;
  }

  .title-narcos {
    display: none;
  }

  .description-container-narcos {
    min-height: 60rem;
    min-width: 40vw;
    background: #a8a8a8;
    border-radius: 0rem 2rem 2rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
  }

  .text-container-narcos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25vw;
    height: 15rem;
    font-size: 2rem;
    color: white;
  }

  .container-community-narcos {
    width: 25vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .button-watch-narcos {
    padding: 2rem 5rem;
    border-radius: 2rem;
    border: none;
    color: white;
    background: #4d4a4a;
    cursor: pointer;
  }

  .stars-container-page4 {
    margin: 5rem 0rem 0rem 5rem;
    flex-wrap: nowrap;
  }

  .stars-container-page4 i {
    color: #787878;
  }

  .star-check::before {
    color: rgba(255, 215, 0.6);
  }

  /*Page 5 */
  .main-container-5 {
    min-height: 80vh;
    background: radial-gradient(#787878, #555454);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .button-return {
    display: none;
  }

  .image-container-lucifer {
    min-height: 65rem;
    min-width: 40vw;
    border-radius: 2rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url("./images/lucifer-image.jpg");
    background-size: cover;
    background-position: top;
    position: relative;
  }

  .favorite-logo-page5 {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 2rem;
    right: 3rem;
    color: rgba(255, 255, 255, 0.712);
    font-size: 2rem;
  }

  .favorite-logo-page5 i {
    margin-bottom: 1rem;
  }

  .title-lucifer {
    display: none;
  }

  .description-container-lucifer {
    min-height: 60rem;
    min-width: 40vw;
    background: #a8a8a8;
    border-radius: 0rem 2rem 2rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
  }

  .text-container-lucifer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25vw;
    height: 15rem;
    font-size: 2rem;
    color: white;
  }

  .container-community-lucifer {
    width: 25vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .button-watch-lucifer {
    padding: 2rem 5rem;
    border-radius: 2rem;
    border: none;
    color: white;
    background: #4d4a4a;
    cursor: pointer;
  }

  .stars-container-page5 {
    margin: 5rem 0rem 0rem 5rem;
    flex-wrap: nowrap;
  }

  .stars-container-page5 i {
    color: #787878;
  }

  .star-check::before {
    color: rgba(255, 215, 0.6);
  }
}
