@media screen and (min-width: 760px) {
  @import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

  html {
    font-size: 62.5%;
  }

  body {
    padding: 0;
    margin: 0;
    color: white;
    font-family: "Rubik", sans serif;
  }

  /* header */

  header {
    background: #4d4a4a;
    min-height: 10vh;
    min-width: 100vw;
  }

  .navbar {
    display: flex;
    background-color: #4d4a4a;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1rem;
    min-height: 10vh;
  }

  .logo {
    flex: 1;
    background-color: #4d4a4a;
  }

  .logo-title {
    max-width: 20rem;
    min-width: 1rem;
    font-family: "Rubik", sans-serif;
    font-weight: normal;
    font-size: 2rem;
    color: white;
    background: linear-gradient(90deg, #c739ff, #8539ff);
    border-radius: 20px;
    text-align: center;
    margin: 10px;
    padding: 1rem 0rem;
  }

  .link-page {
    text-decoration: none;
    color: white;
  }

  .nav-container {
    background-color: #4d4a4a;
    flex: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .research {
    display: none;
  }

  .search-container {
    display: flex;
    justify-content: flex-end;
  }

  .search-container input {
    width: 80%;
    border: none;
    background-color: rgba(120, 120, 120, 0.5);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
  }

  .search-container input::placeholder {
    font-family: "Rubik", sans-serif;
    font-size: 1.5rem;
  }

  .searchButton {
    margin-left: -2rem;
    width: auto;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: none;
    background: linear-gradient(90deg, #c739ff, #8539ff);
    color: white;
  }

  .dropdown-menu-content {
    display: flex;
    justify-content: flex-end;
    background-color: #4d4a4a;
    text-align: right;
    list-style: none;
  }
  .dropdown-menu-content li {
    margin-right: 1.5rem;
    text-align: left;
  }

  .dropdown-menu-content li a {
    font-weight: normal;
    font-family: "Rubik", sans-serif;
    font-size: 1.6rem;
    text-decoration: none;
    color: white;
  }
  .dropdown-menu-content li a:hover {
    color: #c739ff;
    font-size: 1.65rem;
  }

  .nav-toggle {
    display: none;
  }

  .visible {
    display: block;
  }

  /* Main container */

  .main-container {
    background: #787878;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 80vh;
  }

  /* Title page myfavourites*/
  .menu-container {
    flex: 1;
    display: flex;
    width: -moz-available;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2rem;
  }
  .list-my-favourites {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 1.8rem;
    margin: 2rem 2rem;
  }

  .list-my-favourites li {
    border-bottom: 0.3rem solid white;
  }

  /* cards */

  .card-list {
    flex: 2;
    display: flex;
    padding: 3rem;
    overflow-x: scroll;
  }

  .card-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .card-list::-webkit-scrollbar-thumb {
    background: #201c29;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
      inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  }

  .card-list::-webkit-scrollbar-track {
    background: linear-gradient(
      90deg,
      #201c29,
      #201c29 1px,
      #17141d 0,
      #17141d
    );
  }

  .card {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 400px;
    width: 400px;
    border-radius: 2rem;
    background: radial-gradient(#787878, #555454);
    box-shadow: -1rem 1.5rem 1.8rem black;
    transition: 0.2s;
    justify-content: center;
    align-items: center;
  }

  .card:hover {
    transform: translateY(-2rem);
  }

  .card:not(:first-child) {
    margin-left: -60px;
  }

  .image-fav-house {
    height: 400px;
    width: 400px;
    border-radius: 2rem;
    background-image: url("./images/house-image.jpg");
    background-size: cover;
    background-position: top;
    cursor: pointer;
  }

  .image-fav-narcos {
    height: 400px;
    width: 400px;
    border-radius: 2rem;
    background-image: url("./images/narcos-image.jpg");
    background-size: cover;
    background-position: top;
    cursor: pointer;
  }

  .image-fav-got {
    height: 400px;
    width: 400px;
    border-radius: 2rem;
    background-image: url("./images/got-image.jpg");
    background-size: cover;
    background-position: top;
    cursor: pointer;
  }

  .title-fav {
    display: none;
  }

  .link-pagefav {
    text-decoration: none;
    color: white;
  }

  .fav-logo {
    display: none;
  }

  .text-container {
    display: none;
  }

  /*Footer */

  footer {
    background: radial-gradient(#787878, #555454);
    font-family: "Rubik", sans-serif;
    min-width: 100vw;
    min-height: 10vh;
  }

  .footer-container {
    min-height: 10vh;
    background: #4d4a4a;
    display: flex;
    justify-content: space-between;
  }

  .lg-notices {
    margin-left: 1.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lg-notices h2 {
    margin: 0 0.5rem;
    font-size: 1.5rem;
    font-weight: normal;
    font-family: "Rubik", sans-serif;
  }

  .lg-notices h2 a {
    text-decoration: none;
    color: white;
  }

  .newsletter-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    color: white;
  }

  .box-newsletter {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .newsletter-lg {
    font-weight: normal;
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }
  .newsletter-sm {
    display: none;
  }

  #input-newsletter {
    background-color: rgba(120, 120, 120, 0.5);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-family: "Rubik", sans-serif;
    border-radius: 0.5rem;
    width: 90%;
  }

  .box-newsletter button {
    width: auto;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: none;
    background: linear-gradient(90deg, #c739ff, #8539ff);

    color: white;
  }
  .social-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1.5rem;
    margin-left: 6%;
  }
  .social-title {
    color: white;
    font-family: "Rubik", sans-serif;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: normal;
    font-size: 1.5rem;
  }

  .social-container i {
    /* color: #787878; */
    color: #c739ff;
    font-size: 2.5rem;
    margin: 0 1rem;
  }
}
