@media (min-width: 760px) {
  /*Global styles */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  /* Navbar */
  header {
    background-color: #4d4a4a;
    min-height: 10vh;
    min-width: 100vw;
  }
  .navbar {
    display: flex;
    background-color: #4d4a4a;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1rem;
    min-height: 10vh;
  }
  .logo {
    flex: 1;
    background-color: #4d4a4a;
  }
  .logo-title {
    max-width: 20rem;
    min-width: 1rem;
    font-family: "Rubik", sans-serif;
    font-weight: normal;
    font-size: 2rem;
    color: white;
    background: linear-gradient(90deg, #c739ff, #8539ff);
    border-radius: 20px;
    text-align: center;
    margin: 10px;
    padding: 1rem 0rem;
  }
  .nav-container {
    background-color: #4d4a4a;
    flex: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .research {
    display: none;
  }
  .search-container {
    display: flex;
    justify-content: flex-end;
  }
  .search-container input {
    width: 80%;
    border: none;
    background-color: rgba(120, 120, 120, 0.5);
    color: white;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
  }
  #search-form {
    position: relative;
  }
  .searchButton {
    position: relative;
    right: 2.7rem;
    width: auto;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: none;
    background-color: rgba(120, 120, 120, 0);
    color: white;
  }
  .search-container input::placeholder {
    font-family: "Rubik", sans-serif;
    font-size: 1.5rem;
  }
  .dropdown-menu-content {
    display: flex;
    justify-content: flex-end;
    background-color: #4d4a4a;
    text-align: right;
    list-style: none;
  }
  .dropdown-menu-content li {
    margin-right: 1.5rem;
    text-align: left;
  }
  .dropdown-menu-content li a {
    font-weight: normal;
    font-family: "Rubik", sans-serif;
    font-size: 1.6rem;
    text-decoration: none;
    color: white;
  }
  .dropdown-menu-content li a:hover {
    transition: all 1s ease-out;
    color: #c739ff;
  }
  .nav-toggle {
    display: none;
  }
  .visible {
    display: block;
  }

  /*Index Styles */

  .main-container {
    background: radial-gradient(#787878, #555454);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 90vh;
    position: relative;
  }
  /* Title page myfavourites*/
  .list-my-favourites {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 1.6rem;
    margin: 2rem 2rem;
  }
  .list-my-favourites li {
    border-bottom: 0.3rem solid white;
  }
  .menu-container {
    position: absolute;
    top: 0rem;
    right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 2rem 0rem;
  }
  .list li {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .list li:nth-child(1) {
    border-bottom: 0.3rem solid white;
    padding-right: 0rem;
    padding-left: 0rem;
  }
  .list li:nth-child(2) {
    padding-left: 1rem;
  }
  .article-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-width: 80vw;
    min-height: 70vh;
    margin: 20px 0;
  }
  .article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 2rem;
  }
  .link-page {
    text-decoration: none;
    color: white;
  }
  .image-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    width: 25vw;
    height: 35vh;
    border-radius: 2rem;
    background: #8c8b8b;
    position: relative;
  }
  .favorite-logo {
    position: absolute;
    z-index: 1;
    top: 2rem;
    right: 3rem;
    color: rgba(255, 255, 255, 0.712);
    font-size: 2rem;
    cursor: pointer;
  }
  .favorite-logo:hover {
    color: #c739ff;
  }

  .house-image {
    background-image: url("../images/house-image.jpg");
    background-size: cover;
    background-position: top;
    cursor: pointer;
  }
  .got-image {
    background-image: url("../images/got-image.jpg");
    background-size: cover;
    background-position: top;
    cursor: pointer;
  }
  .narcos-image {
    background-image: url("../images/narcos-image.jpg");
    background-size: cover;
    background-position: top;
    cursor: pointer;
  }
  .lucifer-image {
    background-image: url("../images/lucifer-image.jpg");
    background-size: cover;
    background-position: top;
    cursor: pointer;
  }
  .link-page.active {
    pointer-events: none;
    display: none;
  }
  .image-description {
    background: rgba(199, 57, 255, 0.5);
    border-radius: 2rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image-description p {
    font-size: 2.5rem;
    margin: 0rem 0.5rem;
  }
  .text-container {
    background: #a8a8a8;
    height: 25rem;
    width: 30rem;
    border-radius: 0rem 2rem 2rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }

  .text-container p {
    width: 90%;
    height: 60%;
    font-size: 1.6rem;
    overflow: hidden;
  }
  .stars-container i {
    color: #787878;
  }
  .star-check::before {
    color: rgba(255, 215, 0.6);
  }

  .heart.like {
    color: #c739ff;
  }

  /*Page 2 */

  .main-container-article {
    min-height: 80vh;
    min-width: 100vw;
    background: radial-gradient(#787878, #555454);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .button-return {
    display: none;
  }

  .article-image {
    min-height: 70vh;
    min-width: 40vw;
    margin-left: 8rem;
    border-radius: 2rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-size: cover;
    background-position: top;
    position: relative;
  }

  .share-container {
    position: absolute;
    top: 3rem;
    right: -1.8rem;
    min-width: 30rem;
    min-height: 15rem;
    background: linear-gradient(90deg, #c739ff, #8539ff);
    border-radius: 2rem;
    clip-path: circle(10% at 90% 20%);
    -webkit-clip-path: circle(10% at 90% 20%);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .share-container:hover {
    clip-path: circle(75%);
    -webkit-clip-path: circle(75%);
  }

  .share-button {
    position: absolute;
    top: 2rem;
    right: 0.5rem;
    margin-right: 4%;
  }

  .social-share {
    font-size: 4rem;
  }

  .house-image {
    background-image: url("../images/house-image.jpg");
  }

  .favorite-logo-article {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 2rem;
    right: 3rem;
    color: rgba(255, 255, 255, 0.712);
    font-size: 2rem;
  }

  .favorite-logo-article i {
    margin-bottom: 1rem;
  }

  .title-article {
    display: none;
  }

  .description-container-article {
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 60rem;
    min-width: 20vw;
    background: #a8a8a8;
    border-radius: 0rem 2rem 2rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    margin-right: 8rem;
  }

  .text-container-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    font-size: 2rem;
    color: white;
    margin: 0 4rem;
  }

  .text-container-house p {
    padding-top: 2rem;
    min-width: 80%;
    height: auto;
    font-size: 1.8rem;
    text-align: justify;
    line-height: 150%;
  }
  .container-community {
    width: 25vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .button-watch-article {
    padding: 2rem 5rem;
    border-radius: 2rem;
    border: none;
    color: white;
    background: #4d4a4a;
    cursor: pointer;
  }

  .stars-container-article {
    margin: 5rem 0rem 0rem 5rem;
    flex-wrap: nowrap;
  }

  .stars-container-article i {
    color: #787878;
  }
  .star-check::before {
    color: rgba(255, 215, 0.6);
  }
  /*Page 3 */

  .main-container-article {
    min-height: 80vh;
    background: radial-gradient(#787878, #555454);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .button-return {
    display: none;
  }

  .image-container-article {
    min-height: 65rem;
    min-width: 40vw;
    border-radius: 2rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-size: cover;
    background-position: top;
    position: relative;
  }

  .got-image {
    background-image: url("../images/got-image.jpg");
  }

  .favorite-logo-article {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 2rem;
    right: 3rem;
    color: rgba(255, 255, 255, 0.712);
    font-size: 2rem;
  }

  .favorite-logo-article i {
    margin-bottom: 1rem;
  }

  .title-article {
    display: none;
  }

  .description-container-article {
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 60rem;
    min-width: 40vw;
    background: #a8a8a8;
    border-radius: 0rem 2rem 2rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
  }

  .text-container-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    font-size: 2rem;
    color: white;
  }

  .text-container-got p {
    padding-top: 2rem;
    width: 90%;
    height: auto;
    font-size: 1.8rem;
    text-align: justify;
    line-height: 150%;
  }

  .container-community-article {
    width: 25vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .button-watch-article {
    padding: 2rem 5rem;
    border-radius: 2rem;
    border: none;
    color: white;
    background: #4d4a4a;
    cursor: pointer;
  }

  .stars-container-article {
    margin: 5rem 0rem 0rem 5rem;
    flex-wrap: nowrap;
  }

  .stars-container-article i {
    color: #787878;
  }
  .star-check::before {
    color: rgba(255, 215, 0.6);
  }
  /*Page 4 */
  .main-container-article {
    min-height: 80vh;
    background: radial-gradient(#787878, #555454);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .button-return {
    display: none;
  }

  .image-container-article {
    min-height: 65rem;
    min-width: 40vw;
    border-radius: 2rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-size: cover;
    background-position: top;
    position: relative;
  }

  .narcos-image {
    background-image: url("../images/narcos-image.jpg");
  }

  .favorite-logo-article {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 2rem;
    right: 3rem;
    color: rgba(255, 255, 255, 0.712);
    font-size: 2rem;
  }

  .favorite-logo-article i {
    margin-bottom: 1rem;
  }
  .title-narcos {
    display: none;
  }

  .description-container-article {
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 60rem;
    min-width: 40vw;
    background: #a8a8a8;
    border-radius: 0rem 2rem 2rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
  }

  .text-container-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    font-size: 2rem;
    color: white;
  }

  .text-container-narcos p {
    padding-top: 2rem;
    width: 90%;
    height: auto;
    font-size: 1.8rem;
    text-align: justify;
    line-height: 150%;
  }

  .container-community-article {
    width: 25vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .button-watch-article {
    padding: 2rem 5rem;
    border-radius: 2rem;
    border: none;
    color: white;
    background: #4d4a4a;
    cursor: pointer;
  }

  .stars-container-article {
    margin: 5rem 0rem 0rem 5rem;
    flex-wrap: nowrap;
  }

  .stars-container-article i {
    color: #787878;
  }
  .star-check::before {
    color: rgba(255, 215, 0.6);
  }
  /*Page 5 */
  .main-container-article {
    min-height: 80vh;
    background: radial-gradient(#787878, #555454);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .button-return {
    display: none;
  }

  .image-container-article {
    min-height: 65rem;
    min-width: 40vw;
    border-radius: 2rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-size: cover;
    background-position: top;
    position: relative;
  }

  .lucifer-image {
    background-image: url("../images/lucifer-image.jpg");
  }

  .favorite-logo-article {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 2rem;
    right: 3rem;
    color: rgba(255, 255, 255, 0.712);
    font-size: 2rem;
  }

  .favorite-logo-article i {
    margin-bottom: 1rem;
  }

  .title-article {
    display: none;
  }

  .description-container-article {
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 60rem;
    min-width: 40vw;
    background: #a8a8a8;
    border-radius: 0rem 2rem 2rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
  }

  .text-container-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    font-size: 2rem;
    color: white;
  }

  .text-container-lucifer p {
    padding-top: 2rem;
    width: 90%;
    height: auto;
    font-size: 1.8rem;
    text-align: justify;
    line-height: 150%;
  }

  .container-community-article {
    width: 25vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .button-watch-article {
    padding: 2rem 5rem;
    border-radius: 2rem;
    border: none;
    color: white;
    background: #4d4a4a;
    cursor: pointer;
  }

  .stars-container-article {
    margin: 5rem 0rem 0rem 5rem;
    flex-wrap: nowrap;
  }

  .stars-container-article i {
    color: #787878;
  }
  .star-check::before {
    color: rgba(255, 215, 0.6);
  }

  /*Footer */

  footer {
    background: radial-gradient(#787878, #555454);
    font-family: "Rubik", sans-serif;
    min-width: 100vw;
    min-height: 10vh;
  }

  .footer-container {
    min-height: 10vh;
    background: #4d4a4a;
    display: flex;
    justify-content: space-between;
  }

  .lg-notices {
    margin-left: 1.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lg-notices h2 {
    margin: 0 0.5rem;
    font-size: 1.5rem;
    font-weight: normal;
    font-family: "Rubik", sans-serif;
  }

  .lg-notices h2 a {
    text-decoration: none;
    color: white;
  }

  .newsletter-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    color: white;
  }

  .box-newsletter {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .newsletter-lg {
    font-weight: normal;
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }
  .newsletter-sm {
    display: none;
  }

  #input-newsletter {
    background-color: rgba(120, 120, 120, 0.5);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-family: "Rubik", sans-serif;
    border-radius: 0.5rem;
    width: 90%;
  }

  .box-newsletter button {
    position: relative;
    width: auto;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: none;
    background-color: rgba(185, 185, 185, 0.5);
    color: white;
    right: 2.7rem;
  }
  .social-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1.5rem;
    margin-left: 6%;
  }
  .social-title {
    color: white;
    font-family: "Rubik", sans-serif;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: normal;
    font-size: 1.5rem;
  }

  .social-container i {
    color: #c739ff;
    font-size: 2.5rem;
    margin: 0 1rem;
  }

  /*Contact*/
  .main-container-team {
    margin: auto;
    display: flex;
    background: radial-gradient(#787878, #555454);
    min-width: 100vw;
    min-height: 90vh;
    color: white;
    align-items: baseline;
  }
  .team-container-members {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .team {
    padding-top: 25px;
    text-align: center;
    color: white;
    flex-direction: column;
    margin-bottom: 40px;
    font-size: 3rem;
  }
  .container-members {
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    margin-bottom: 50px;
    border-right: solid 10px;
  }
  .member-photo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0 20px 0;
  }
  .flag-icon1 {
    border-radius: 60px;
    z-index: 1;
    position: relative;
  }

  .flag-icon2 {
    border-radius: 60px;
    z-index: 1;
    position: relative;
  }

  .flag-icon3 {
    border-radius: 60px;
    z-index: 1;
    position: relative;
  }

  .flag-icon4 {
    border-radius: 60px;
    z-index: 1;
    position: relative;
  }

  .member-description {
    display: flex;
    flex-direction: column;
    border-radius: 10px 20px 20px 10px;
    background-color: #a8a8a8;
    height: 50px;
    width: 75%;
    padding: 1rem 5px 5rem 30px;
    margin-left: -20px;
    font-size: 1.4rem;
  }
  .contact-main {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .contact-us {
    padding-top: 25px;
    text-align: center;
    color: white;
    flex-direction: column;
    margin-bottom: 40px;
    font-size: 3rem;
  }
  #contactForm {
    display: flex;
    flex-direction: column;
  }
  .size-form-email-lg {
    margin-top: 50px;
    margin-bottom: 25px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 200px;
    background-color: #a8a8a8;
    color: whitesmoke;
    border-radius: 20px;
    width: 40rem;
  }
  .mail-contactForm-lg {
    border: 0px;
    background-color: #a8a8a8;
    font-size: larger;
  }
  #enter-mail::placeholder {
    color: white;
  }

  .mail-messageForm-lg {
    padding-bottom: 100px;
    padding-top: 20px;
    padding-left: 25px;
    width: 40rem;
    border: 0px;
    background-color: #a8a8a8;
    font-size: medium;
    border-radius: 20px;
  }
  .mail-messageForm-lg::placeholder {
    color: white;
  }
  .send {
    text-align: end;
    margin-top: 20px;
    margin-right: -20px;
    border-radius: 20px;
  }
  .button-send {
    padding: 5px 10px;
  }
}
