@media screen and (max-width: 760px) {
  /*Global styles */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
  }

  /* Navbar */
  header {
    background: radial-gradient(#787878, #555454);
    min-height: 10vh;
  }

  .navbar {
    display: flex;
    background-color: #4d4a4a;
    justify-content: flex-end;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    min-height: 10vh;
  }

  .logo {
    flex: 2;
    background-color: #4d4a4a;
    border-bottom-left-radius: 20px;
  }

  .link-page {
    text-decoration: none;
    color: white;
  }

  .logo-title {
    text-decoration: none;
    max-width: 20rem;
    min-width: 1rem;
    font-family: "Rubik", sans-serif;
    font-weight: normal;
    font-size: 2rem;
    color: white;
    background: linear-gradient(90deg, #c739ff, #8539ff);
    border-radius: 20px;
    text-align: center;
    margin: 1rem;
    padding: 1rem 0rem;
  }

  .nav-container {
    background-color: #4d4a4a;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom-right-radius: 20px;
  }

  .research {
    color: white;
    font-size: 1.5rem;
  }

  .search-container {
    display: none;
    position: absolute;
    right: 7.5vh;
    top: 9.5vh;
    width: auto;
    border-radius: 20px 0 20px 20px;
    padding: 1.5rem;
    background-color: rgb(44, 42, 42);
    font-family: "Rubik", sans-serif;
    font-size: 1.5rem;
    color: white;
  }

  .menu {
    background-color: #4d4a4a;
    border-bottom-right-radius: 2rem;
  }
  .dropdown-menu-content {
    /* display: none; */
    /* position: absolute; */
    right: 0;
    /* top: 10vh; */
    /* width: auto; */
    /* border-radius: 20px; */
    /* border-radius: 2rem; */
    padding: 2rem;
    background-color: #4d4a4a;
    /* font-size: 1.5rem; */
    list-style: none;
    color: white;
    /* text-align: right; */
  }

  .dropdown-menu-content {
    position: fixed;
    z-index: 2;
    background: #4d4a4a;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    clip-path: circle(100px at 90% -15%);
    -webkit-clip-path: circle(100px at 90% -15%);
    transition: all 1s ease-out;
  }

  .navbar.open {
    border-radius: 0rem;
  }

  .dropdown-menu-content li {
    margin: 6rem 0rem;
    font-size: 3rem;
    /* text-align: center; */
  }

  .dropdown-menu-content li a {
    text-decoration: none;
    color: white;
    padding-bottom: 1rem;
    border-bottom: 1rem solid white;
  }

  .box-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vh;
    height: 15vw;
    margin-bottom: 10rem;
    border-radius: 2rem;
    text-align: center;
  }

  .nav-toggle {
    justify-content: center;
    align-items: center;
    margin: 2rem;
    background-color: #4d4a4a;
    font-size: 2.5rem;
    color: white;
    border: none;
    border-bottom-right-radius: 20px;
  }

  .dropdown-menu-content.visible {
    z-index: 2;
    display: flex;
    clip-path: circle(1100px at 90% -10%);
    -webkit-clip-path: circle(1100px at 90% -10%);
  }

  /*Main Container Styles */

  .main-container {
    background: radial-gradient(#787878, #555454);
    color: white;
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 80vh;
  }
  /* Title page myfavourites*/
  .list-my-favourites {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 1.6rem;
    margin: 2rem 2rem;
  }

  .list-my-favourites li {
    border-bottom: 0.3rem solid white;
  }

  .menu-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .card-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    overflow-y: scroll;
  }

  .card {
    display: flex;
    flex-direction: column;
    height: 25rem;
    width: 25rem;
    border-radius: 2rem;
    background: radial-gradient(#787878, #555454);
    box-shadow: -1rem -1rem 1.6rem black;
    justify-content: center;
    align-items: center;
  }

  .card:not(:first-child) {
    margin-top: -20px;
  }

  .link-pagefav {
    text-decoration: none;
    color: white;
  }

  .image-container-favourite {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-width: 25rem;
    min-height: 25rem;
    border-radius: 2rem;
    background: #8c8b8b;
  }

  .house-image {
    background-image: url("/ressources/images/house-image.jpg");
    background-size: cover;
    background-position: top;
    cursor: pointer;
  }

  .got-image {
    background-image: url("/ressources/images/got-image.jpg");
    background-size: cover;
    background-position: top;
    cursor: pointer;
  }

  .narcos-image {
    background-image: url("/ressources/images/narcos-image.jpg");
    background-size: cover;
    background-position: top;
    cursor: pointer;
  }

  .lucifer-image {
    background-image: url("/ressources/images/lucifer-image.jpg");
    background-size: cover;
    background-position: top;
    cursor: pointer;
  }

  .fav-logo {
    display: none;
  }

  /*Footer */

  footer {
    background: radial-gradient(#787878, #555454);
    font-family: "Rubik", sans-serif;
  }

  .footer-container {
    min-height: 10vh;
    background: #4d4a4a;
    border-radius: 2rem 2rem 0rem 0rem;
    display: flex;
  }

  .lg-notices {
    display: none;
  }

  .newsletter-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-left: 1rem;
    color: white;
  }

  .box-newsletter {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .newsletter-lg {
    display: none;
  }
  .newsletter-sm {
    font-size: 1.4rem;
  }

  #input-newsletter {
    background-color: rgba(120, 120, 120, 0.5);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-family: "Rubik", sans-serif;
    border-radius: 0.5rem;
    width: 90%;
  }

  .box-newsletter button {
    width: auto;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: none;
    background: linear-gradient(90deg, #c739ff, #8539ff);

    color: white;
  }
  .social-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2rem;
  }

  .social-title {
    display: none;
  }

  .social-container i {
    color: #787878;
    font-size: 2rem;
    margin-left: 1rem;
  }
}
